In [28]:
from sklearn.datasets import load_iris
iris= load_iris()
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [29]:
iris.target_names #print(iris.target)

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [6]:
iris.data.shape #print(iris.shape)

(150, 4)

In [7]:
x=iris.data
y=iris.target

In [9]:

x_tr,y_tr=x[:120],y[:120]
x_test,y_test=x[120:],y[120:]

In [10]:
print(x_tr.shape)
y_tr.shape

(120, 4)

(120,)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2,random_state=0)  #.2 means 80% data for training and 20% for testing

In [13]:
print (x_train.shape)
x_test.shape

(120, 4)

(30, 4)

In [14]:
from sklearn.neighbors import KNeighborsClassifier

In [15]:
knn= KNeighborsClassifier(n_neighbors= 5)

In [16]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [17]:
pred = knn.predict(x_test)

In [18]:
pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 2, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0])

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
accuracy_score(y_test,pred) #accuracy_score always measured by the testing data

0.9666666666666667

In [21]:
knn.score(x_test,y_test)

0.9666666666666667

In [22]:
knn.score(x_train,y_train)

0.95

In [23]:
import pandas as pd
df = pd.read_csv('gender.csv', names=['H','W','G'])

In [24]:
df.head()

             H            W       G
0       Height       Weight  Gender
1  73.84701702  241.8935632    Male
2  68.78190405  162.3104725    Male
3  74.11010539  212.7408556  Female
4   71.7309784  220.0424703    Male

In [25]:
x=df.iloc[:,0:2]
y=df[['G']]
print(x.shape)
print(y.shape)

(16, 2)
(16, 1)

In [26]:
i=y.shape[0]
for m in range (i):
    if df.loc[m,'G']=='man':
        df.loc[m,'G']=0
    else: 
        df.loc[m,'G']=1

df

              H            W  G
0        Height       Weight  1
1   73.84701702  241.8935632  1
2   68.78190405  162.3104725  1
3   74.11010539  212.7408556  1
4    71.7309784  220.0424703  1
5   69.88179586  206.3498006  1
6   67.25301569  152.2121558  1
7   68.78508125  183.9278886  1
8   68.34851551  167.9711105  1
9   67.01894966  175.9294404  1
10  63.45649398  156.3996764  1
11  71.19538228  186.6049256  1
12  71.64080512  213.7411695  1
13  64.76632913  167.1274611  1
14   69.2830701  189.4461814  1
15  69.24373223   186.434168  1