In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

In [4]:
data=pd.read_csv('book.csv', names=['Y','P','M','F'])
data.head()

      Y           P          M           F
0  year  population      Male       Female
1  1951   540000000  291600000  2484000000
2  1961   670000000  361000000  3008200000
3  1971   820000000  442800000  6689000000
4  1981   910000000  491000000  9800000000